{% extends "base/layout.html" %}
{% load static %}

{% block content %}


<div class="login-bg text-white-50 row mx-0">
    <div class="col-md-3 mx-0 px-0 log-img-box"></div>
    <div class="col-md-6 my-5 px-5 ">
        {% if text %}
        <div class="alert alert-primary" role="alert">
            {{text}}
        </div>
        {% endif %}
        <div class="login-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <h1 class="text-white my-2">Edit Your Profile</h1>
                    <h2 class="c-blue my-2">Personal Information</h2>


                    <div class="my-3 form-group">
                        {{ form.profile_photo.errors }}
                        <div class="d-flex align-content-center  d-flex align-self-center">
                            <label class="mb-0 pr-2" for="id_profile_photo">Upload Profile Photo</label>
                        </div>
                        <div class="">
                            <label class="btn btn-success px-4">Choose a profile photo <input class="d-none" id="id_profile_photo"
                                    name="profile_photo" type="file" required>
                            </label>
                        </div>
                    </div>

                    <span>First name</span>
                    <div class="my-3 field">
                        {{ form.first_name.errors }}
                        <input class="form-control py-4" type="text" name="first_name" id="id_first_name" required
                            placeholder="first name" />
                    </div>

                    <span>Last name</span>
                    <div class="my-3 field">
                        {{ form.last_name.errors }}
                        <input class="form-control py-4" type="text" name="last_name" id="id_last_name" required
                            placeholder="last name" />
                    </div>

                    <span>User name</span>
                    <div class="my-3 field">
                        {{ form.user_name.errors }}
                        <input class="form-control py-4" type="text" name="user_name" id="id_user_name" required
                            placeholder="username" />
                    </div>

                    <span>Bio</span>
                    <div class="my-3 field">
                        {{ form.bio.errors }}
                        <textarea rows="4" class="form-control py-4" type="text" name="bio" id="id_bio" required
                            placeholder="Tell us about yourself"></textarea>
                    </div>

                    <div class="my-3 field d-flex">
                        <div class="w-50">
                            <span>Sex</span>
                            <select class="form-control w-50" name="gender" id="id_gender">
                                <option class="form-control" value="" selected>Male</option>
                                <option class="form-control" value="Male">Male</option>
                                <option class="form-control" value="Female">Female</option>
                                <option class="form-control" value="Other">Other</option>
                            </select>
                        </div>
                        <div class="w-50">
                            <span>How old are you</span>
                            {{ form.age.errors }}
                            <input class="w-50 form-control" type="number" name="age" id="id_age" placeholder="18" />
                        </div>
                    </div>


                    <span>Website</span>
                    <div class="my-3 field">
                        {{ form.website.errors }}
                        <input class="form-control py-4" type="text" name="website" id="id_website" required
                            placeholder="Enter your website url" />
                    </div>

                    <span>What do you do?</span>
                    <div class="my-3 field">
                        {{ form.occupation.errors }}
                        <input class="form-control py-4" type="text" name="occupation" id="id_occupation" required
                            placeholder="What's your occupation" />
                    </div>

                    <span>Where do you work?</span>
                    <div class="my-3 field">
                        {{ form.company_name.errors }}
                        <input class="form-control py-4" type="text" name="company_name" id="id_company_name" required
                            placeholder="Place of work" />
                    </div>

                    <h2 class="c-blue my-2">Contact Information</h2>

                    <span>Email</span>
                    <div class="my-3 field">
                        {{ form.email.errors }}
                        <input class="form-control py-4" type="text" name="email" id="id_email" required placeholder="email" />
                    </div>

                    <span>phone</span>
                    <div class="my-3 field">
                        {{ form.phone.errors }}
                        <input class="form-control py-4" type="number" name="phone" id="id_phone" required placeholder="Your phone number" />
                    </div>

                    <span>facebook</span>
                    <div class="my-3 field">
                        {{ form.facebook.errors }}
                        <input class="form-control py-4" type="link" name="facebook" id="id_facebook" required
                            placeholder="Your facebook link" />
                    </div>

                    <span>instagram</span>
                    <div class="my-3 field">
                        {{ form.instagram.errors }}
                        <input class="form-control py-4" type="text" name="instagram" id="id_instagram" required
                            placeholder="Your instagram link" />
                    </div>

                    <span>linkedin</span>
                    <div class="my-3 field">
                        {{ form.linkedin.errors }}
                        <input class="form-control py-4" type="text" name="linkedin" id="id_linkedin" required
                            placeholder="Your linkedin link" />
                    </div>

                    <span>twitter</span>
                    <div class="my-3 field">
                        {{ form.twitter.errors }}
                        <input class="form-control py-4" type="text" name="twitter" id="id_twitter" required
                            placeholder="Your twitter link" />
                    </div>

                    <h2 class="c-blue my-2">Address Information</h2>

                    <span>Counrty</span>
                    <div class="my-3 field">
                        {{ form.country.errors }}
                        <input class="form-control py-4" type="text" name="country" id="id_country" required
                            placeholder="Your country" />
                    </div>
                    <span>State</span>
                    <div class="my-3 field">
                        {{ form.state.errors }}
                        <input class="form-control py-4" type="text" name="state" id="id_state" required placeholder="Your state" />
                    </div>

                    <span>Zip-Code</span>
                    <div class="my-3 field">
                        {{ form.zipcode.errors }}
                        <input class="form-control py-4" type="number" name="zipcode" id="id_zipcode" required
                            placeholder="Your zipcode " />
                    </div>

                    <span>Address</span>
                    <div class="my-3 field">
                        {{ form.address.errors }}
                        <input class="form-control py-4" type="number" name="address" id="id_address" required
                            placeholder="Your work address" />
                    </div>

                    <div class="form-group d-flex justify-content-end">
                        <input class="form-control py-4" type="hidden" name="next" value="">
                        <button type="submit" class="py-3 f-24 font-weight-bold form-control h-100 btn-blue d-flex border-0 justify-content-center align-items-center text-light">Save
                            Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3 mx-0 px-0 log-img-box"></div>
</div>

{% endblock content %}